<link rel="stylesheet" href="/css/posts.css">
<li id="post-<%=post._id %>">
    <p>
      <% if(locals.user && locals.user.id == post.user.id) { %>
      <small>
        <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">X</a>
      </small>
      <% } %> <%= post.content %>
      <br />
      <!-- <li style="color:brown; list-style-type :none;"> -->
      <small><%= post.user.name %></small>
    </p>
    <div class="post-comments">
      <% if(locals.user){ %>
      <form action="/comments/create" method="POST" id="new-comment-form">
        <input
          type="text"
          name="content"
          placeholder="comment here"
          required
        />
        <input type="hidden" name="post" value="<%= post._id %>" />
        <!-- upar wala input isilie lie hain taki postid de paen comment ko -->
        <input type="submit" value="Comment" id="comment-btn"/>
      </form>
    </div>
    <% } %>
    <div class="post-comments-list">
      <ul id="post-comments-<%=post._id%>">
        <%= console.log(post.comments) %> 
        <% for (comment of post.comments) { %>
        <!-- yaha upar post.comments isilie kie kyuki comments post k andar h -->
        <%- include ('_comment') -%>
        <% } %>
      </ul>
    </div>
  </li>
  <script src="/js/home_post_comments.js"></script>