<html>
    <head>
        <title>
            <%= title  %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        
        <%- style %>
        <!-- upar mein jo style likha hai wo ye kaam karta hai ki niche body mei jitna bhi style ya script ka link hai usko upar style mei ya niche script mein bhej deta hai accordingly -->
    </head>

    <body>
        <%- include('_header'); %>
        <main id="layout-main">
        <%- body %>
        <!-- upar body wala part variable hai wo change karega accordingly requirement ke hisab se -->
        </main>


        <%- include('_footer'); %>
        <%- script %>
    </body>
</html>